Support for native Windows mDNS/DNS-SD stack

Microsoft has [announced](https://techcommunity.microsoft.com/t5/networking-blog/aligning-on-mdns-ramping-down-netbios-name-resolution-and-llmnr/ba-p/3290816) to focus their mutlicast efforts on mDNS and have apparently added native mDNS/DNS-SD support in Windows 10. Perhaps this library could implement that API, so Windows builds would no longer need Bonjour? (Of course the Bonjour backend could still be useful for older Windows versions)

See also:

- https://stackoverflow.com/questions/23624525/standard-mdns-service-on-windows
- https://github.com/andrewtj/windns-dnssd-exercise
- https://github.com/mumble-voip/mumble/pull/4494

Very interesting.  I'll do some edge case tests to see how good the api is.

I've created an experimental fork where I added a native Win32 backend here: https://github.com/HelloOO7/QtZeroConf
It is currently being evaluated with [VDV301Tester](https://github.com/frutabruta/VDV301Tester), which makes use of all standard features of the library, so far it is pretty capable, but I would not consider it stable yet. The main motivator for this was that on Windows 11, Bonjour often collides with some security settings and is generally inconvenient for regular users to install. I've taken inspiration mainly from Mumble's implementation.

If you could share some of the edge case scenarios that you'd like to have handled, I can try to test them and submit a PR if it turns out that this approach is viable. I think one problem might be that WinDNS auto-renames services when they already exist, I am currently simply deregistering them when detected, but there may be a little while when the auto-renamed service is still published in the interim.

ok great! thank you.  Something to test.  Using the example app on windows using your backend and the example app on another computer, mac or linux, open the example app on both so they see each others services.  Put the windows computer to sleep.  Then disable the publish on the mac or linux computer.  Wait 5 min, then wake the windows computer out of sleep and see if it still shows the service from the mac or linux computer.  It should not.  Sometimes it may take up to 3-5 min after waking to remove the service.  If it does not remove the service, that is a fail.  You can also test the opposite, start with services not published, put windows to sleep, enable the service on the mac/linux, then wake the windows and see if the service gets listed.

Doesn't look like this works, unfortunately. I don't think WinDNS has a mechanism for unregistering services other than receiving an explicit TTL=0 PTR packet, given that raw DNS records are the only thing that the API returns to me. What mechanism does Avahi use? A timeout, or a NSEC record of some sort?

It does not work quite right on Android's java mdns either.  (used to work perfect using Avahi on Android).  mDNS Time-to-Live is 120 seconds for host names and address records.  The discovery service should check when cached services have expired and then re-query to validate them.  I think [IETF RFC 6762](https://www.google.com/url?sa=i&source=web&rct=j&url=CAESZQHrOzAV9Sd0bkH7beP0UzKtjnX83vzBT4Si3Ck6K7ACWkqA0PsNbxepP4t_wJhRwk2N9jpINpOpU27-D2_Efd9uj0MwPNKHPbKnQ3bq1PDKrqj_wLpMAQiO8hXGP9rfLXmN4g5k&uoh=2&ved=2ahUKEwjIsObz88WWAxUEvSsGHRHbBq0Qy_kOegoIAggACAAIChAD&opi=89978449&cd&psig=AOvVaw2mjLd4kaysmU1GGRjzqwgL&ust=1788095218383000) specifies that a browser / discovery service should re-query from sleep as well.  Google AI says this should happen...

1. Empty the Cache: At the instant of wake-up, the machine's multicast DNS cache for that interface is considered empty.
2. Send the Initial Questions: The querier must re-issue its batch of questions.
3. Set the Unicast-Response (QU) Bit: Section 5.4 of RFC 6762 states that a querier sending its initial batch of questions immediately on wake from sleep SHOULD set the unicast-response bit. This tells responding devices to answer via unicast instead of flooding the entire network with multicast responses, preventing an unnecessary network storm

Okay, I did some tests and it seems like WinDNS simply does not do any follow-up requests when a TTL expires. It *does* keep sending questions periodically, so if a service becomes visible that was not visible before (such as waking up a peer from sleep), it should be seen eventually. It does not work the other way around though, if a service is unexpectedly lost, there is no notification of this fact.

A possible workaround would be to implement TTL management on QtZeroConf's side. So, keep an expiry timer on each service information, and if an IP "refresh" is not received in time, consider it lost. This would, however, lead to a complete loss of all services upon waking up from a sleep longer than 120 seconds, before Windows would re-query them. This is because WinDNS does not invoke a result callback when no results are received, so there isn't a way to distinguish between "a scan was run, but no results were found" and "no scan was run yet".